# enviroment file
.env

# for ci
ci

# backup
backup/backups/*
backup/log/*
backup/sync/*

# caddy
caddy/logs/*
caddy/www/*

# hass
hass/config/*

# seafile
seafile/backup/*

# upload folder only
!.gitkeep
