# enviroment file
.env

# for ci
ci

# backup
backup/backups/*
backup/log/*
backup/sync/*

# caddy
caddy/logs/*
caddy/www/*
caddy/.caddy/*

# hass
hass/config/*

# owncloud
owncloud/backup/*

# upload folder only
!.gitkeep
